[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/Samsung/libuv.git
[submodule "third_party/duktape"]
	path = third_party/duktape
	url = https://github.com/lainjs/duktape.git
